/*
Miscelaneous
*/

.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/*
Navbar
*/

#logo {
    width: 50px;
}

.navbar-light .navbar-nav .nav-link { /* Change link color */
    color: white;
    text-shadow: 0 0 10px #2F4E6F;
}

.navbar .navbar-toggler { /* Change icon border color */
    border-color: white;
    background-color: rgba(47, 78, 111, .3);
}

.navbar .navbar-toggler .navbar-toggler-icon { /* Change icon color */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar-collapse {
    text-align: right;
}

/********************/
/* Sections */
/********************/

/*
Home
*/

#home {
    height: 100vh;
    background: linear-gradient(#2F4E6F, #cbd8e1);
    color: #C8D7E3;
}

.intro-text {
    font-size: 2.8rem;
}

#arrow-down-icon {
    position: absolute;
    bottom: 15%;

}

#arrow-down-icon a {
    color: white;
    padding: 15px 15px;
}



/* About */

#about {
    height: 100vh;
    background-color: #cbd8e1;
    color: #2F4E6F;
}

#about-selfie img {
    height: 160px;
}

#about-header {
    font-size: 2.2rem;
    margin-top: 20px;
}

#about-text {
    font-size: 16px;
}

.social-links i {
    padding: 10px 10px;
}

.social-links a {
    color: #2F4E6F;
}

/* Projects */

#projects {
    background: linear-gradient(#cbd8e1, #2F4E6F);
    color: white;
}

#wrapper-projects {
    padding: 100px 0;
}

#projects-header {
    font-size: 2.2rem;
    text-align: center;
}

#wrapper-projects-images {
    margin-top: 30px;
}

#wrapper-projects-images img {
    width: 180px;
}

.project {
    margin-top: 20px;
}

.btn-sm {
    padding: 2px 6px;
}

.project-btn-div {
    margin-top: 5px;
}

.project-btn-div button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin: 0 5px;
}

/* Footer */
footer {
    background-color: #2F4E6F;
    color: white;
}

.footer-text {
    font-size: 12px;
    margin-bottom: 8px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    /* Navbar */
    #logo {
        width: 64px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 20px;
        padding: 0 10px;
    }

    /* Home */
    .intro-text {
        font-size: 4rem;
    }

    #arrow-down-icon {
        font-size: 30px;
    }

    /* About */
    #about-selfie img {
        height: 240px;
    }

    #about-header {
        font-size: 2.8rem;
    }

    #about-text {
        font-size: 20px;
    }

    /* Projects */
    #wrapper-projects {
        padding: 150px 0;
    }

    #wrapper-projects-images img {
        width: 260px;
    }

    .project-btn-div button {
        font-size: 20px;
        margin-top: 5px;
    }

    /* Footer */
    .footer-text {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 992px) {
    /* Navbar */
    #logo {
        width: 75px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 24px;
        padding: 0 20px;
    }

    /* Home */
    .intro-text {
        font-size: 5rem;
    }

    #arrow-down-icon {
        font-size: 36px;
    }

    /* About */
    #about-selfie img {
        height: 320px;
    }

    #about-header {
        font-size: 3.4rem;
    }

    #about-text {
        font-size: 24px;
    }

    /* Projects */
    #wrapper-projects {
        padding: 240px 0;
    }

    #wrapper-projects-images img {
        width: 360px;
    }

    .project-btn-div button {
        margin-top: 10px;
        font-size: 24px;
    }

    /* Footer */
    .footer-text {
        font-size: 16px;
        margin-bottom: 16px;
    }
}